<div class="container pt-3">
  <div class="d-flex justify-content-center">
    <button type="menu" class="btn btn-primary" (click)="openModal(null)">
      <span>Add Word</span>
      &nbsp;
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <ol class="list-group mt-2">
    <li class="list-group-item" *ngFor="let item of itemsOnDisplay">
      <div class="d-flex flex-row">
        <div class="d-flex align-items-center">
          <a (click)="openModal(item)">
            <span> {{ item.word }} </span>
          </a>
        </div>
        <div class="d-flex ml-auto">
          <button type="button" class="btn" (click)="deleteItem(item.id)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </li>
  </ol>
  <div class="mt-2 float-right">
    <pagination
      [totalItems]="items && items.length"
      [itemsPerPage]="itemsPerPage"
      [(ngModel)]="currentPage"
      (pageChanged)="onPageChange($event)"></pagination>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
